<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ac6c6a">  <td>22/02/02 18:35:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.launchApplication()[pri:0, instance:testpkg.TestBoxTest@5ce8d869]">&gt;&gt;launchApplication</td> 
<td>&nbsp;</td>  <td>main@711112124</td>   <td></td> </tr>
<tr bgcolor="c6bcdc">  <td>22/02/02 18:36:03</td>   <td>15076</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBoxTest.verifyDetailsEnteredinTextBox()[pri:0, instance:testpkg.TestBoxTest@5ce8d869]">verifyDetailsEnteredinTextBox</td> 
  <td>main@711112124</td>   <td></td> </tr>
</table>
