<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ac6c6a">  <td>22/02/10 19:19:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DatePickerTest.Verifydateandtimeselected()[pri:0, instance:testPkg.DatePickerTest@64a40280]">Verifydateandtimeselected</td> 
  <td>main@2111457497</td>   <td></td> </tr>
<tr bgcolor="64caac">  <td>22/02/10 19:19:05</td>   <td>-14570</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.launchApplication()[pri:0, instance:testPkg.DatePickerTest@64a40280]">&gt;&gt;launchApplication</td> 
<td>&nbsp;</td>  <td>main@2111457497</td>   <td></td> </tr>
</table>
